.selector {
  display: flex;
}

.selector__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.selector__arrow-inverse {
  transform: rotate(180deg);
}
